<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>PrivyFilter</title>
    <meta name="title" content="PrivyFilter">
    <meta name="description" content="Filtering photos for bias(racial, gender) for machine learning.">
    <meta name="keywords" content="privyfilter machine learning bias faceswap change races ">
    <meta name="author" content="@Matthewdavis">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://privyfilter.herokuapp.com/">
    <meta property="og:title" content="PrivyFilter">
    <meta property="og:description" content="Filtering photos for bias(racial, gender) for machine learning.">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://privyfilter.herokuapp.com/">
    <meta property="twitter:title" content="PrivyFilter">
    <meta property="twitter:description" content="Filtering photos for bias(racial, gender) for machine learning.">
    <link href="public/images/thumbnail.jpg" rel="apple-touch-icon">
    <link href="public/images/favicon.ico" rel="shortcut icon">
    <link href="public/css/styles.css" rel="stylesheet">
  </head>

<body>
  <div class="modal">
  <button type="button" class="modal-close modal-toggle"><i class="icon" data-feather="x"></i><span class="hide-mobile">ESC</span></button>
  <div class="modal-content">
    <div class="success">
      <a href="index.html" class="logo"><img src="public/images/logo.svg" alt="logo"/></a>
      <h2 class="modal-title first-name" id="title-name"></h2>
      <p>We'll be in touch soon.</p>
      <a href="index.html" class="button">Back home</a>
    </div>
    <div class="form-content">
      <a href="index.html" class="logo"><img src="public/images/logodo.svg" alt="logo"/></a>
      <h2 class="modal-title">Check out how you would look in any race. </h2>
      <p class="modal-subtitle">Upload your pic and we will send you it as any race.</p>
      <form class='form' name='doomoutForm' method='POST' action="../uploader" enctype="multipart/form-data"><input type='hidden' name='form-name' value='doomoutForm' />
        <div class="group">
          <input type="file" name="fileToUpload" id="fileToUpload">
          <label for="fileToUpload">File</label>
          <span class="border"></span>
        </div>
        <button type="submit" class="button">We are one world</button>
      </form>
    </div>
  </div>
</div>
  <div class="content">
    <a href="index.html" ><h1>PrivyFilter </h1>&nbsp;&nbsp;</a><a href="https://github.com/Deamoner/privyfilter"><img src="public/images/github.svg" width="75px"/> </a>
    <section class="section section-features">
      <div class="cards">
        <div class="slider">
          <div class="slide"><img src="public/images/past-sm.jpg" width="200px"/></div>
          <div class="slide"><img src="public/images/present-sm.jpg" width="200px"/></div>
          <div class="slide"><img src="public/images/future-sm.jpg" width="200px"/></div>
        </div>
      </div>
    </br>
      <h3>Use privyfilter to diversify your image dataset to account for underlying bias, age, races, and other demographics.</h3>
        <h4> Face Detection:Synthetic Face Generation:Face Swapping</h4>
        <div class="cards">
          <div class="slider">
            <div class="slide"><img src="public/images/Gender Balance.jpg" width="200px"/></div>
            <div class="slide"><img src="public/images/Coolness Balance.jpg" width="200px"/></div>
            <div class="slide"><img src="public/images/Race Balance.jpg" width="200px"/></div>
          </div>
      </div>
    </section>
    <div class="hero">
      <h1 class="title">We pledge to see one race</h1>
      <h1 class="title shift clip">
        <span class="word-shift">
          <b class="is-visible">the human race&nbsp;</b>
          <b>loving</b>
          <b>feeling</b>
          <b>hurting</b>
          <b>humans</b>
          <b>when one hurts</b>
          <b>we all hurt</b>
        </span>
      </h1>
      <div>Try out our fun face swap demo.</div>
      <button class="button modal-toggle">Try now</button>
      <p class="subtitle"> More Options Coming <img src="public/images/logo-apple.svg" alt="apple"/></p>
    </div>
    <section class="section section-features">
      <h2 class="title">An Ethical life starts with ethical data</h1>
      <div class="features">
        <img src="public/images/overlay-left.svg" class="overlay-left hide-mobile" alt="overlay"/>
        <img src="public/images/overlay-right.svg" class="overlay-right hide-mobile" alt="overlay"/>
        <img src="public/images/overlay-top.svg" class="overlay-top show-mobile" alt="overlay"/>
        <img src="public/images/overlay-bottom.svg" class="overlay-bottom show-mobile" alt="overlay"/>
        <div class="row donts">
          <div class="feature"><i class="icon" data-feather="x"></i> No human bias</div>
          <div class="feature"><i class="icon" data-feather="x"></i> No favourtism</div>
          <div class="feature"><i class="icon" data-feather="x"></i> No group thinking</div>
          <div class="feature"><i class="icon" data-feather="x"></i> No hate</div>
          <div class="feature"><i class="icon" data-feather="x"></i> No aggression</div>
          <div class="feature"><i class="icon" data-feather="x"></i> No lies</div>
          <div class="feature"><i class="icon" data-feather="x"></i> No doubt</div>
          <div class="feature"><i class="icon" data-feather="x"></i> No preference</div>
          <!-- Repeat-->
          <div class="feature"><i class="icon" data-feather="x"></i> No human bias</div>
          <div class="feature"><i class="icon" data-feather="x"></i> No favourtism</div>
          <div class="feature"><i class="icon" data-feather="x"></i> No group thinking</div>
          <div class="feature"><i class="icon" data-feather="x"></i> No hate</div>
          <div class="feature"><i class="icon" data-feather="x"></i> No aggression</div>
          <div class="feature"><i class="icon" data-feather="x"></i> No lies</div>
          <div class="feature"><i class="icon" data-feather="x"></i> No doubt</div>
          <div class="feature"><i class="icon" data-feather="x"></i> No preference</div>
        </div>
        <div class="row dos">
          <div class="feature"><i class="icon" data-feather="check"></i>Fair</div>
          <div class="feature"><i class="icon" data-feather="check"></i>Ethical</div>
          <div class="feature"><i class="icon" data-feather="check"></i>low-bias</div>
          <div class="feature"><i class="icon" data-feather="check"></i>Private</div>
          <div class="feature"><i class="icon" data-feather="check"></i>Reserved</div>
          <div class="feature"><i class="icon" data-feather="check"></i>Testable</div>
          <div class="feature"><i class="icon" data-feather="check"></i>Compassionate</div>
          <div class="feature"><i class="icon" data-feather="check"></i>Life Enhancer</div>
          <!-- Repeat-->
          <div class="feature"><i class="icon" data-feather="check"></i>Sythetic Face Generation</div>
          <div class="feature"><i class="icon" data-feather="check"></i>Demographic Est Extraction</div>
          <div class="feature"><i class="icon" data-feather="check"></i>Face Detection</div>
          <div class="feature"><i class="icon" data-feather="check"></i>Face Swap</div>
          <div class="feature"><i class="icon" data-feather="check"></i>Meta Data Scrub</div>
          <div class="feature"><i class="icon" data-feather="check"></i>Testable</div>
          <div class="feature"><i class="icon" data-feather="check"></i>Compassionate</div>
          <div class="feature"><i class="icon" data-feather="check"></i>Life Enhancer</div>
        </div>
      </div>
      <!-- <p>If you’re looking for an email client with more features, try <a href="">these</a>.</p> -->
    </section>
    <section class="section section-providers">
      <div class="hero">
        <h1 class="title">Features: </h1>
        <h1 class="title shift clip">
          <span class="word-shift">
            <b class="is-visible">Face Detection&nbsp;</b>
            <b>Demographic Information Models</b>
            <b>Sythetic Face Generation</b>
            <b>Face Swapping</b>
          </span>
        </h1>
        <div>Try out our fun face swap demo.</div>
        <button class="button modal-toggle">Try now</button>
        <p class="subtitle"> More Options Coming <img src="public/images/logo-apple.svg" alt="apple"/></p>
      </div>
    </section>

    <footer class="footer">
      <p>&copy; Privyfilter</p>
    </footer>
    </div>
  </div>
  <script src="./public/js/jquery/3.4.1/jquery.min.js"></script>
<script src="public/js/scripts.min.js"></script>
<script>

  // Close modal on escape key
  $(document).keyup(function(e) {
    if (e.key === "Escape") {
      $('.modal').removeClass('modal-show');
      $('.content').removeClass('content-blurred');
      $('body').removeClass('no-scroll');
    }
  });

  $(function(){

    // Provider card slider
    $('.slider').flickity({
      pauseAutoPlayOnHover: false,
      prevNextButtons: false,
      cellAlign: 'center',
      draggable:  false,
      freeScroll: false,
      wrapAround: true,
      pageDots: false,
      autoPlay: 3000,
    });

    // Imbox zero slider
    $('.zero-slider').flickity({
      pauseAutoPlayOnHover: false,
      prevNextButtons: false,
      cellAlign: 'center',
      freeScroll: false,
      wrapAround: false,
      draggable: false,
      pageDots: false,
      autoPlay: 3000,
      fade: true,
    });

    // Open & close modal
    $('.modal-toggle').click(function(){
      $('.modal').toggleClass('modal-show');
      $('.content').toggleClass('content-blurred');
      $('body').toggleClass('no-scroll');
    });





    // Feather icons
    feather.replace()

    // ScrollReveal


  });
</script>

</body>

</html>
